<div class="seller-auth">
  <div *ngIf="!showLogin" class="signup">
    <h1>Seller Sign Up</h1>
    <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
      <input class="form-input" ngModel name="name" type="text" placeholder="enter name" />
      <input class="form-input" ngModel name="password" type="password" placeholder="enter password" />
      <input class="form-input" ngModel name="email"  type="text" placeholder="e-mail" />
      <button class="form-button">Sign Up</button>
      <a class="auth-toggle-link" (click)="openLogin()">Already have account click to login</a>
    </form>
  </div>

  <!-- Login -->
  <div *ngIf="showLogin" class="login">
    <h1>Seller Login</h1>
    <p class="error">{{autherror}}</p>
    <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
      <input class="form-input" ngModel name="email"  type="text" placeholder="e-mail" />
      <input class="form-input" ngModel name="password" type="password" placeholder="enter password" />
      <button class="form-button">Login</button>
      <a class="auth-toggle-link" (click)="openSignUp()">dont have account click to signup</a>
    </form>
  </div>
</div>
